-- Update script for Viewing Appointments and Notifications
USE smart_proptech;

-- 1. Create Bookings table if not exists
CREATE TABLE IF NOT EXISTS bookings (
    booking_id INT AUTO_INCREMENT PRIMARY KEY,
    room_id INT NOT NULL,
    tenant_id INT NOT NULL,
    booking_date DATE NOT NULL,
    booking_time TIME NOT NULL,
    status ENUM('pending', 'confirmed', 'rejected', 'cancelled') DEFAULT 'pending',
    lead_person_name VARCHAR(100),
    lead_person_phone VARCHAR(15),
    landlord_notes TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (room_id) REFERENCES rooms(room_id) ON DELETE CASCADE,
    FOREIGN KEY (tenant_id) REFERENCES users(user_id) ON DELETE CASCADE
);

-- 2. Update Notifications table
-- Add 'booking' type to ENUM if not already there
ALTER TABLE notifications MODIFY COLUMN type ENUM('bill', 'alert', 'system', 'booking') NOT NULL;

-- Add created_at column if not already there (to avoid 500 error on sorting)
ALTER TABLE notifications ADD COLUMN IF NOT EXISTS created_at DATETIME DEFAULT CURRENT_TIMESTAMP;
